/* ==========================================================================
General Keyframes animations
========================================================================== */

.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

//Delays
.delay-1 {
  animation-delay: 0.25s;
}

.delay-2 {
  animation-delay: 0.5s;
}

.delay-3 {
  animation-delay: 0.75s;
}

.delay-4 {
  animation-delay: 1s;
}

//FADE IN LEFT
@keyframes fadeInLeft {
  from {
    transform: translate3d(20px, 0, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    transform: translate3d(20px, 0, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.preFadeInLeft {
  opacity: 0;
}

.fadeInLeft {
  opacity: 0;
  animation-name: fadeInLeft;
}

// FADE IN RIGHT
@keyframes fadeInRight {
  from {
    transform: translate3d(-20px, 0, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    transform: translate3d(-20px, 0, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.preFadeInRight {
  opacity: 0;
}

.fadeInRight {
  opacity: 0;
  animation-name: fadeInRight;
}

//FADE IN UP
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 20px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 20px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.preFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
}

//Gelatine
.gelatine {
  animation: gelatine 0.6s;
  animation-duration: 0.6s;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes gelatine {
  0%,
  100% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}
