html {
  scroll-behavior: smooth;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--bs-heading-color);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.position-relative {
  position: relative !important;
}

.position-abolute {
  position: absolute !important;
}

header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: $muted-grey;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
  min-height: 660px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $dark-grey;
  opacity: 0.5;
}

.material-icons {
  font-family: 'Material Icons', sans-serif;
}

//Preloader
#preloader {
  position: fixed;
  inset: 0;
  background-color: $white;
  z-index: 99;
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;

  // background-image: url(../img/loaders/rings.svg);
  background-size: 80px 80px;
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}

//Back to top button
#backtotop {
  position: fixed;
  right: 0;
  opacity: 0;
  visibility: hidden;
  bottom: 25px;
  margin: 0 25px 0 0;
  z-index: 9999;
  transform: scale(0.7);
  transition: all 0.5s;

  &.visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);

    a {
      outline: none;
      text-decoration: none;
      border: 0 none;
      display: block;
      width: 46px;
      height: 46px;
      background-color: $medium-grey;
      color: $white;
      opacity: 1;
      transition: all 0.3s;
      border-radius: 50%;
      text-align: center;
      font-size: 26px;

      &::after {
        outline: none;
        content: '\e316';
        font-family: 'Material Icons', sans-serif;
        position: relative;
        display: block;
        top: 52%;
        transform: translateY(-55%);
      }

      &:hover {
        outline: none;
        opacity: 0.9;
        background: $secondary;
      }
    }
  }
}

//Helpers
.is-disabled {
  pointer-events: none;
  opacity: 0.4;
  cursor: default !important;
}

.is-hidden {
  display: none !important;
}

.stuck {
  position: fixed !important;
  top: 0 !important;
  z-index: 2 !important;
}

.text-primary {
  color: $primary !important;

  &.is-bold {
    font-weight: 600;
  }
}

.text-center {
  text-align: center;
}

.pos-left {
  display: flex;
  justify-content: flex-start;
}

.pos-right {
  display: flex;
  justify-content: flex-end;
}

.is-f-col {
  flex-direction: column;
}

.light-text {
  color: $white !important;
}

.light-gray-text {
  color: $light-grey !important;
}

.muted-text {
  color: $muted-grey !important;
  &:hover {
    color: $dark-grey !important;
  }
}

.text-hightlight {
  background: linear-gradient(120deg, $secondary, $secondary);
  background-position: 0 80%;
  background-repeat: no-repeat;
  background-size: 100% 20%;
  &.main {
    margin: 0 12px;
  }
}

.mb-10 {
  margin-top: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-80 {
  margin-top: 80px;
}

.ml-30 {
  margin-left: 30px;
}

.huge-pb {
  padding-bottom: 100px;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

//Input placeholders
::input-placeholder {
  /* Chrome/Opera/Safari */
  color: $placeholder;
}

::placeholder {
  /* Firefox 19+ */
  color: $placeholder;
}

:input-placeholder {
  /* IE 10+ */
  color: $placeholder;
}

:placeholder {
  /* Firefox 18- */
  color: $placeholder;
}
